---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths({ paginate }) {
  const episodes = await getCollection("episodes");

  const pages = paginate(episodes, { pageSize: 10 });

  return pages;
}

const { page } = Astro.props;

console.log(page);
---

<Layout title="Our podcast websites">
  <main>
    {
      page.data.map((entry) => {
        return (
          <article>
            <h2>
              <a href={`/episodes/${entry.data.slug}`}>{entry.data.title}</a>
            </h2>
            <div set:html={entry.data.description} />
          </article>
        );
      })
    }

    <nav>
      <ul>
        <li>
          <a href={page.url.prev}>Previous</a>
        </li>
        <li>
          <a href={page.url.next}>Next</a>
        </li>
      </ul>
    </nav>
  </main>
</Layout>
